@model IEnumerable<ProductWebLayer.Models.ProductViewModel>

@{
    ViewBag.Title = "Product Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New Product", "Create")
</p>

<h2>Product details : </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSku)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSku)
            </td>
            
        </tr>
    }

</table>
